{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
	{% for pizza in pizzas %}
		<h1>{{pizza.nom}}</h1>
		<p>Ingrédient secret : {{pizza.ingredient}}</p>
		{# <p>Ingrédients : {{pizza.otheringredient.collection.elements}}</p> #}
		<p>Pâte : {{pizza.pate.consistance}}</p>
		<p>{{dump(pizza)}}</p>
		<a href={{path("update_pizza",{"id":pizza.id})}}>Modifier</a>

		<form method="POST" onsubmit="return confirm('Confirmer la suppression.')" action="{{path('delete_pizza',{'id':pizza.id}) }}">
			<input type="hidden" name="_method" value="delete">
			<input type="hidden" name="_token" value="{{csrf_token('SUP' ~ pizza.id)}}">
			<input id="delete" type="submit" value="Supprimer">
		</form>
		
	{% endfor %}

{% endblock %}